.bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    height: 100vh;
    background-size: cover;
}
.coding-card{
    padding:20px;
    margin-left: 650px;
    margin-right: 650px;
    border-style: solid;
    border-color: #48ee59;
    border-width: 5px;
    background-color: #00000080;
    border-color: #48ee59;
}
.heading{
    text-align: left;
    color: white;
    font-family: serif;
}
